
@font-face {
  font-family: 'hind-bold';
  src: url('/media/fonts/hind-bold.eot');
  src: url('/media/fonts/hind-bold.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/hind-bold.woff') format('woff'),
  url('/media/fonts/hind-bold.ttf') format('truetype'),
  url('/media/fonts/hind-bold.svg#DINProBold') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'hind-regular';
  src: url('/media/fonts/hind-regular.eot');
  src: url('/media/fonts/hind-regular.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/hind-regular.woff') format('woff'),
  url('/media/fonts/hind-regular.ttf') format('truetype'),
  url('/media/fonts/hind-regular.svg#DINProBold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/media/fonts/Montserrat-Bold.eot');
  src: url('/media/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/Montserrat-Bold.woff') format('woff'),
  url('/media/fonts/Montserrat-Bold.ttf') format('truetype'),
  url('/media/fonts/Montserrat-Bold.svg#DINProBold') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/media/fonts/Montserrat-Regular.eot');
  src: url('/media/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/Montserrat-Regular.woff') format('woff'),
  url('/media/fonts/Montserrat-Regular.ttf') format('truetype'),
  url('/media/fonts/Montserrat-Regular.svg#DINProBold') format('svg');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/media/fonts/Montserrat-Light.eot');
  src: url('/media/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('/media/fonts/Montserrat-Light.woff') format('woff'),
  url('/media/fonts/Montserrat-Light.ttf') format('truetype'),
  url('/media/fonts/Montserrat-Light.svg#DINProBold') format('svg');
  font-style: normal;
  font-weight: 100;
}

